@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Almarai';
  src: url('./fonts/Almarai/Almarai-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato/Lato-Black.ttf') format('truetype');
}

:root {
  font-family: 'Almarai', 'Lato', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F5FBFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #eff0f6;
  text-decoration: inherit;
}


body {
  height: 100vh;
  padding: 0;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}